{% extends "base.html" %}
{% load static %}

{% block title %}Books{% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static "book_management/all_books.css" %}">{% endblock styles %}

{% block content %}
<div class="container1">
    

    <!-- Main Content -->
    <main>
        
        <!-- Recommended Books Section -->


        <!-- Categories Section -->
        <section class="categories">
            <h2>Categories</h2>
            <div class="category-list">
                {% for genre in genres %}
                <button><a href="{% url "genrelist" genre %}">{{genre|title}}</a></button>
                {% endfor %}
            </div>

            {{bookss}}
            <div class="category-books">
                {% if not books  %} 
                <p class="no-book">No Books Found</p> 
                {% else %}
                {% for book in books %}
                <div class="category-book-card">
                    <a href="{% url "book_detail" book.slug %}">
                        <img src="{{book.cover_image.url}}" alt={{book.title}}>
                        <p>{{book.title}}</p>
                        <span>{{book.author}}</span>
                    </a>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </section>


        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% if search %}search={{search}}&{% endif %}page=1">&laquo; First</a>
                    <a href="?{% if search %}search={{search}}&{% endif %}page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?{% if search %}search={{search}}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?{% if search %}search={{search}}&{% endif %}page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>


    </main>

    <!-- Book Details Section -->
    
    </aside>
</div>
{% endblock content %}