{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Housemaid's Secret by Freida McFadden</title>
    <link rel="stylesheet" href="{% static "book_management/book_detail.css" %}">
</head>
<body>

    
    <div class="container1">
        <div class="book-cover">
            <img src="{{book.cover_image.url}}" alt="The Housemaid's Secret" />
            <button>Want to Read</button>
            <button>Rate this Book</button>
        </div>

        <section class="all">
            <section class="book-section">
                <div class="book-details">
                    <h2>The Housemaid's Secret</h2>
                    <p><strong>Freida McFadden</strong></p>
                    <p class="rating">4.24 ★ <span>(797,167 ratings)</span></p>
                    <p class="award">Goodreads Choice Award</p>
                    <p><strong>Genres:</strong> Thriller, Mystery, Fiction, Suspense</p>
                    <p><strong>Pages:</strong> 318 | <strong>Published:</strong> February 15, 2023</p>
                    
                </div>
            </section>

            <section class="author-section">
                <h3>About the author</h3>
                <div class="author-details">
                    <img src="author_freida_mcfadden.jpg" alt="Freida McFadden" />
                    <p>#1 New York Times bestselling author Freida McFadden...</p>
                </div>
            </section>

            <section class="recommendations-section">
                <h3>Readers also enjoyed</h3>
                <div class="recommendations">
                    <div class="book-recommend">
                        <img src="none_of_this_is_true.jpg" alt="None of This is True" />
                        <p>None of This is True</p>
                        <p>by Lisa Jewell</p>
                    </div>
                    <div class="book-recommend">
                        <img src="keep_it_in_family.jpg" alt="Keep it in the Family" />
                        <p>Keep it in the Family</p>
                        <p>by John Marrs</p>
                    </div>
                    <div class="book-recommend">
                        <img src="perfect_marriage.jpg" alt="The Perfect Marriage" />
                        <p>The Perfect Marriage</p>
                        <p>by Jeneva Rose</p>
                    </div>
                </div>
            </section>
        </section>
    </div>


    <footer>
        <p>&copy; 2023 Goodreads</p>
    </footer>
</body>
</html>
