* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.container1 {
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

.book-cover{
    width: 20rem;
    background-color: #ffffff;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    
}

.book-cover img {
    max-width: 180px;
    border: 1px solid #ddd;
}

.book-cover button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.book-cover button:hover {
    background-color: #45a049;
}

.all{
    padding: 1rem;
}

.book-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: #fff;
    margin: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.book-details h2 {
    margin-bottom: 10px;
    color: #333;
}

.book-details .rating {
    font-size: 1.1em;
    color: #f4b400;
}

.book-details .award {
    background: #ffd700;
    padding: 5px;
    margin: 10px 0;
}


.author-section {
    padding: 20px;
    background: #fff;
    margin: 20px auto;
    max-width: 1000px;
    border: 1px solid #ddd;
}

.author-details {
    display: flex;
    align-items: center;
}

.author-details img {
    max-width: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

.recommendations-section {
    padding: 20px;
    background: #fff;
    margin: 20px auto;
    max-width: 1000px;
    border: 1px solid #ddd;
}

.recommendations {
    display: flex;
    justify-content: space-around;
}

.recommendations .book-recommend {
    text-align: center;
}

.recommendations .book-recommend img {
    max-width: 100px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
